#root {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pointer:active,
.pointer:focus,
.pointer:hover {
  cursor: pointer;
}
.question-card{
  width: 500px;
  border: 1px solid grey;
  padding: 20px;
}
.rounded {
  border-radius: 50%;
}

